.left {
  text-align: left;

  /* 자간 조절 */
  letter-spacing: 10px;
}
.right {
  text-align: right;

  /* 단어간격 조절 */
  word-spacing: 10px;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.indent {
  /* 들여쓰기 */
  /* text-indent: 50px; */

  /* 내어쓰기 */
  text-indent: -50px;
}
.title {
  /* 취소선 */
  /* text-decoration: line-through; */

  /* 윗줄 */
  /* text-decoration: overline; */

  /* 밑줄 */
  text-decoration: underline;
}
